/* Carousel principal */
.carousel-item-principal {
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 3px 3px 6px black;
    overflow: hidden;
}

.carousel-item-principal h1,
h2,
h3,
h4,
h5,
h6 {
    z-index: 1000;
}

.carousel-item-principal h1 {
    font-size: 8rem;
    margin: 0;
}

@media (max-width: 991px) {
    .carousel-item-principal {
        height: 50vh;
    }
}

@media (min-width: 992px) {
    .carousel-item-principal {
        height: 75vh;
    }
}

@media (min-width: 1400px) {
    .carousel-item-principal {
        height: calc(100vh - 56px);
    }
}

/* Fondos carousel principal */
/* Dia */
.despejado {
    background-color: #6FC2D4;
}

.tormenta_electrica {
    background-color: #34495E;
}

.llovizna,
.lluvia {
    background-color: #2080B6;
}

.nieve {
    background-color: #959B9F;
}

.cubierto {
    background-color: #5E668F;
}

.nublado {
    background-color: #3498DB;
}

.despejado,
.default-weather {
    background-color: #6FC2D4;
}

.clima_extremo {
    background-color: #C0392B;
}

/* Noche */
.despejado.noche {
    background-color: #222;
}

.tormenta_electrica.noche {
    background-color: #1B2631;
}

.llovizna.noche,
.lluvia.noche {
    background-color: #0E3A53;
}

.nieve.noche {
    background-color: #333537;
}

.cubierto.noche {
    background-color: #32364A;
}

.nublado.noche {
    background-color: #164362;
}

.despejado.noche {
    background-color: #222;
}

.clima_extremo.noche {
    background-color: #491611;
}

/* Particulas */
.particula {
    z-index: 0;
}

.lluvia .particula {
    animation: animacion_precipitacion 5s linear infinite;
    top: 0;
}

.llovizna .particula {
    animation: animacion_precipitacion 5s linear infinite;
    top: 0;
}

.nieve .particula {
    animation: animacion_precipitacion 5s linear infinite;
    top: 0;
}

.clima_extremo .particula {
    animation: animacion_precipitacion 5s linear infinite;
    top: 0;
}

.tormenta_electrica {
    animation: animacion_tormenta 4s linear infinite;
    top: 0;
}

.tormenta_electrica .particula {
    animation: animacion_relampago 4s linear infinite;
    top: 0;
}

.nublado .particula {
    animation: animacion_nublado 5s linear infinite;
    top: 0;
}

.cubierto .particula {
    animation: animacion_nublado 5s linear infinite;
    top: -50px;
    width: 800px !important;
}

@keyframes animacion_precipitacion {
    0% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(calc(100vh + 200px));
    }
}

@keyframes animacion_nublado {
    0% {
        transform: translateX(calc(-100vw));
    }

    100% {
        transform: translateX(calc(100vw + 200px));
    }
}

@keyframes animacion_tormenta {
    0% {
        opacity: 1;
    }

    2% {
        opacity: 0;
    }

    4% {
        opacity: 1;
    }

    5% {
        opacity: 0;
    }

    6% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animacion_relampago {
    0% {
        opacity: 1;
    }

    6% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/* Flechas carousel */
.carousel .bi {
    font-size: 50px;
    color: gray;
}

.carousel-control-next {
    justify-content: end;
}

.carousel-control-prev {
    justify-content: start;
}


/* Carousel opiniones */

/* ocultando la mitad de los elementos para que quepan */
@media (max-width: 767px) {
    #carousel_opiniones .card:nth-child(2n+2) {
        display: none;
    }
}

/* ocultando cada 3 elementos para que solo se vean 2 */
@media (max-width: 991px) {
    #carousel_opiniones .card:nth-child(3n+3) {
        display: none;
    }
}

/*Articulos*/
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif
}

#encabezado {

    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.contenedor {
    padding-left: 20px;
    padding-right: 20px;
}

 
